  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    float: none;
    padding: 10px;
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 
  .result_para_tag span{
    white-space: pre-line;
  }

  .copy_right_footer{
    position: fixed;
    bottom: 0;
    color: cornsilk;
    background-color: rgb(69, 125, 204);
    width: 100%;
    line-height: 3;
    text-align: center;
  }

  canvas{
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
   background-color: grey;
  }

  .bob
{
	background: #949494;
	padding: 30px;
	border-radius: 20px;
	margin-top: 50px;
	box-shadow: 5px 5px 18px grey;
}